401 responses should send a WWW-Authenticate header

RFC7235 4.1 states:
> A server generating a 401 (Unauthorized) response MUST send a WWW-Authenticate header field containing at least one challenge.

One question is which authentication scheme should be used. RFC7235, which defines the challenge-response authentication framework and the WWW-Authenticate header doesn't actually define any particular authentication schemes.

RFC7617 defines the "Basic" auth scheme, which should be returned for the login endpoint.

RFC6750 defines the "Bearer" auth scheme within the context of OAuth2, which Girder definitely doesn't use.

None of the [other registered auth schemes](https://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml) seem to fit Girder's usage of a token header (despite it being a fairly common pattern).

Additionally, for endpoints supporting cookie authentication, that fact should ideally be disclosed via this header too. Note that [the "Cookie" auth scheme is defined in a draft](https://tools.ietf.org/id/draft-broyer-http-cookie-auth-00.html), but was never finalized.